<%- include('../partials/profilHeader')%>
    <div class="ui orange three item menu" style="border-top: none; border-right: none; border-left: none;">
        <a id="projectDetail" class="active item" href="/users/<%= user._id%>/projects/assigned/<%= project._id%>/detail">
            <span class="sentReceivedSpan"><i class="fas fa-clipboard"></i></span>
        </a>
        <a id="projectDiscussionLink" class="item" href="/users/<%= user._id%>/projects/assigned/<%= project._id%>/discussion">
            <span class="sentReceivedSpan"><i class="fas fa-comments"></i></span>
        </a>
        <a id="projectTree" class="item" href="/users/<%= user._id%>/projects/assigned/<%= project._id%>/tree">
            <span class="sentReceivedSpan"><i class="fas fa-sitemap"></i></span>
        </a>
    </div>
    <div class="container py-4">

        <!-- project history  -->
        <%- include('./projectHistory')%>

        <!-- project details -->
        <%- include('./projectDetails')%>

        <!-- project progress -->
        <%- include('./projectProgress')%>

        <!-- project files -->
        <%- include('./projectFiles')%>

        <!-- project text -->
        <%- include('./projectText')%>
            
        <!-- project sending & assigning -->
        <%- include('./projectSending&Assigning')%>
        
        <!-- warning message -->
        <div id="receiversSelectionWarning" class="ui red message text-center d-none">
            <i class="fas fa-exclamation-triangle mr-2"></i>
            Cant send a project without selecting the receivers
        </div>

        <div class="my-2 d-flex justify-content-between">
            <div>
                <%if(children.length > 0){%>
                    <button id="sendProjectBtn" class="standardBtnStyle">Send Project</button>
                <%}%>
                <button id="unassignBtn" class="standardBtnStyle" type="button">Unassign</button>
            </div>
            <input
                action="action"
                onclick="window.history.go(-1); return false;"
                type="submit"
                value="Go Back"
                class="goBackBtn float-right py-3 px-5"
            />
        </div>
        
        <form id="unassignFrm" action="/users/<%= user.id%>/projects/assigned/<%= project._id%>?_method=DELETE" method="post"></form>
    </div>
<%- include('../partials/projectsFooter')%>