<%if(files.length > 0){%>
    <div class="mb-4">
        <label for="filesContainer"><span class="inputsTitles">Files</span></label>
        <div id="filesContainer">
            <%files.forEach(function(file){%>
                <div class="row">
                    <div class="column col-10">
                        <%if(file.fileType == 'pdf'){%>
                            <i class="far fa-file-pdf  fileIcone"></i>
                            <!-- <img class="ui mini right spaced image" src=""> -->
                        <%}else if(file.fileType == 'text'){%>
                            <!-- <i class="far fa-file-alt  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/icons/text.PNG">
                        <%}else if(file.fileType == 'image'){%>
                            <!-- <i class="far fa-file-image  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/mails/<%=mail._id%>/files/<%=file._id%>">
                        <%}else if(file.fileType == 'video'){%>
                            <!-- <i class="far fa-file-video  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/icons/video.PNG">
                        <%}else if(file.fileType == 'audio'){%>
                            <!-- <i class="far fa-file-audio  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/icons/audio.PNG">
                        <%}else if(file.fileType == 'word'){%>
                            <!-- <i class="far fa-file-word  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/icons/word.PNG">
                        <%}else if(file.fileType == 'excel'){%>
                            <!-- <i class="far fa-file-excel  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/icons/excel.PNG">
                        <%}else if(file.fileType == 'powerPoint'){%>
                            <!-- <i class="far fa-file-pdf  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/icons/powerPoint.PNG">
                        <%}else if(file.fileType == 'visio'){%>
                            <!-- <i class="far fa-file  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/icons/visio.PNG">
                        <%}else if(file.fileType == 'publisher'){%>
                            <!-- <i class="far fa-file  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/icons/publisher.PNG">
                        <%}else if(file.fileType == 'other'){%>
                            <!-- <i class="far fa-file  fileIcone"></i> -->
                            <img class="ui mini right spaced image" src="/icons/other.PNG">
                        <%}%>
                        <span><%= file.filename%></span>
                    </div>
                    <div class="column col-1 d-flex align-items-center justify-content-end p-0">
                        <%if(file.fileType == 'pdf' || file.fileType == 'text' || file.fileType == 'image'){%>
                            <a class="filesOptionsIcons" href="/mails/<%=mail._id%>/files/<%=file._id%>" data-inverted="" data-tooltip="Preview" data-position="top center" class="float-right">
                                <i class="fas fa-eye"></i>
                            </a>
                        <%}else if(file.fileType == 'video'){%>
                            <form action="/mails/<%= mail._id%>/files/videos/<%=file._id%>/play" method="GET" class="float-right">
                                <input type="hidden" name="videoName" value="<%file.filename%>">
                                <button class="filesOptionsIcons" data-inverted="" data-tooltip="play" data-position="top center">
                                    <i class="fas fa-play"></i>
                                </button>
                            </form>
                        <%}else if(file.fileType == 'audio'){%>
                            <form action="/mails/<%= mail._id%>/files/audios/<%=file._id%>/play" method="GET" class="float-right">
                                <input type="hidden" name="audioName" value="<%file.filename%>">
                                <button class="filesOptionsIcons" data-inverted="" data-tooltip="play" data-position="top center">
                                    <i class="fas fa-play"></i>
                                </button>
                            </form>
                        <%}%>  
                    </div>
                    <div class="column col-1 d-flex align-items-center justify-content-center pr-0">
                        <a class="filesOptionsIcons" href="/mails/<%=mail._id%>/files/<%=file._id%>" data-inverted="" data-tooltip="Download" data-position="top center" download>
                            <i class="fas fa-download"></i>
                        </a>
                    </div>
                </div>
            <%});%>
        </div>
    </div>
<%}%>