<%- include('../partials/profilHeader')%>

<div class="container">
    <form id="newEvtFrm" class="ui form" action="/users/<%= user._id%>/events" method="post">
        <h1 class="bitraf">Adding new event</h1>
        <div class="row mb-3">
            <div class="column col-6">
                <div class="field">
                    <label><span class="inputsTitles">Title</span>
                      <input type="text" name="event[title]" placeholder="Event title">
                    </label>
                  </div>
                  <div class="field">
                    <label for="typeSelector"><span class="inputsTitles">Type</span></label>
                    <select id="typeSelector" class="ui dropdown" name="event[type]" value="absence">
                        <option value="absence"><span id="absenceType">Absence</span></option>
                        <option value="other"><span id="otherType">Other</span></option>
                    </select>
                  </div>
                <div class="field">
                      <label for=""><span class="inputsTitles">Start and End</span>
                        <input id="dateTimePicker" type="text" name="dateTime"/>
                      </label>
                  </div>
                  <div class="field">
                    <label>
                            <span class="inputsTitles">Event color</span>
                            <div class="d-flex">
                                <div id="eventColor" class="defaultEventColor"></div>
                                <input id="colorVal" type="text" name="event[backgroundColor]" class="d-none" value="#4289cf">
                            </div>
                    </label>
                  </div>
            </div>
            <div class="column col-6 m-0 d-flex justify-content-center align-items-center p-0 mb-5">
                <div id="color-picker" class="cp-default p-0"></div>
            </div>
        </div>
        
        <div class="field my-1 d-none">
            <textarea id="evtDesc" name="event[detail]"></textarea>
        </div>
    
        <label for="editorHugeContainer"><span class="inputsTitles">Details</span></label>
        <div id="editorHugeContainer" class="ce-example">
            <div class="ce-example__content _ce-example__content--small">
                <div id="newEventEditorjs" class="editorjs"></div>
            </div>
        </div>



        <div class="container my-4 p-3 py-5">
            <div class="row">
                <div class="column col-12 text-center">
                    <div class="text-center mb-1">
                        <span class="inputsTitles pb-0 d-inline">Plan for</span>
                    </div>
                    <div id="addToList" class="ui fluid multiple search selection dropdown">
                        <% if(addTo == 'self'){%>
                            <input id="addToInput" name="addTo" type="hidden" value="<%= user._id%>">
                        <%}else{%>
                            <input id="addToInput" name="addTo" type="hidden" value="<%= addTo._id%>">
                        <%}%>
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Users</div>
                        <div class="menu">
                            <%usersList.forEach(function(at){%>
                                <%if(at.id == user.id){%>
                                    <div class="item" data-value="<%= at._id%>">
                                        <img class="ui avatar image" src="<%= at.imageUrl%>">
                                        <span class="bitraf mt-2">Self</span>
                                    </div>
                                <%}else{%>
                                    <div class="item" data-value="<%= at._id%>">
                                        <img class="ui avatar image" src="<%= at.imageUrl%>">
                                        <span class="bitraf mt-2"><%= at.username%></span>
                                    </div>
                                <%}%>
                            <%});%>
                        </div>
                    </div>
                    <div id="clearAddToBtn" class="ui button mt-2">Clear</div>
                </div>
            </div>
        </div>
        <!-- planned_by -->
        <input type="text" name="event[planner]" value="<%= user._id%>" class="d-none">

        <% if(addTo == 'self'){%>
            <input type="text" name="redirect" value="events" class="d-none">
        <%}else{%>
            <input type="text" name="redirect" value="contacts" class="d-none">
        <%}%>
    </form>

    <div id="receiversSelectionWarning" class="ui red message d-none text-center">
        <i class="fas fa-exclamation-triangle mr-2 text-center"></i>
        Cant plan a event without selecting users
    </div>
    <div class="my-2">
        <button id="addEvtBtn" type="button" class="standardBtnStyle">Add Event</button>
        <a id="anlEvt" href="/users/<%= user._id%>/events" class="goBackBtn float-right py-3 px-5">Cancel</a>
    </div>

</div>


<%- include('../partials/eventsFooter')%>