<%- include('../partials/profilHeader')%>
<div class="container py-4">
    <form id="newMailFrm" class="ui form" action="/users/<%= user._id%>/mails/sent" method="post" enctype="multipart/form-data">
 
        <div class="field mx-4 mt-4">
            <label><span class="inputsTitles">Title</span>
              <input type="text" name="title" placeholder="Mail title">
            </label>
        </div>

        <!-- files Upload -->
        <div id="filesUploadContainer" class="mx-4">
            <div>
                <label id="uploadLable" for="upload">
                    <input type="file" class="fileInput" id="upload" name="files" multiple>
                    <span id="lableTextSpan">Upload Files</span>
                    <i class="fas fa-paperclip"></i>
                </label>
            </div>
            <div class="files">
                <ul class="files_ul"></ul>
            </div>
        </div>

        <!-- mail text -->
        <div class="field my-1 d-none">
            <textarea id="mailText" name="text"></textarea>
        </div>
        <div class="mx-4">
            <label for="editorHugeContainer"><span class="inputsTitles">Text</span></label>
            <div id="editorHugeContainer" class="ce-example">
                <div class="ce-example__content _ce-example__content--small">
                    <div id="newMailEditorjs" class="editorjs"></div>
                </div>
            </div>
        </div>


        <div class="mx-4 my-2 py-5">
            <div class="row">
                <div class="column col-12 col-md-6 text-center my-2">
                    <div class="text-center mb-1">
                        <span class="inputsTitles pb-0 d-inline">Sent to</span>
                    </div>
                    <!-- sent to multiselect -->
                    <div id="sendToList" class="ui fluid multiple search selection dropdown" style="width: 100%;">
                        <% if(sendTo !== undefined){%>
                            <input id="sentTo"  name="sentTo" type="hidden" value="<%= sendTo._id%>">
                        <%}else{%>
                            <input id="sentTo" name="sentTo" type="hidden">
                        <%}%>
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Users</div>
                        <div class="menu">
                            <%usersList.forEach(function(st){%>
                                <%if(st._id !== user._id){%>
                                    <div class="item" data-value="<%= st._id%>">
                                        <img class="ui avatar image" src="<%= st.imageUrl%>">
                                        <span class="bitraf mt-2"><%= st.username%></span>
                                    </div>
                                <%}%>
                            <%});%>
                        </div>
                    </div>
                    <div id="clearSendToBtn" class=" ui button mt-2">Clear</div>
                </div>
                

                <div class="column col-12 col-md-6 text-center my-2">
                    <div class="text-center mb-1">
                        <span class="inputsTitles pb-0 d-inline">CCs</span>
                    </div>
                    <!-- CC multiselect -->
                    <div id="ccList" class="ui fluid multiple search selection dropdown" style="width: 100%;">
                        <input id="CCs" name="CCs" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Users</div>
                        <div class="menu">
                            <%usersList.forEach(function(cc){%>
                                <%if(cc._id !== user._id){%>
                                    <div class="item" data-value="<%= cc._id%>">
                                        <img class="ui avatar image" src="<%= cc.imageUrl%>">
                                        <span class="bitraf mt-2"><%= cc.username%></span>
                                    </div>
                                <%}%>
                            <%});%>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <div id="clearCcBtn" class="ui button">Clear</div>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div class="row mt-2">
        <div class="column col-12 col-md-2 text-center mb-2">
            <button id="sendMailBtn" class="standardBtnStyle">Send</button>
        </div>
        <div class="column col-0 col-md-8 mb-2">
            <div id="receiversSelectionWarning" class="ui red message d-none">
                <i class="fas fa-exclamation-triangle mr-2"></i>
                Cant send a mail without selecting the receivers
            </div>
        </div>
        <div class="column col-12 col-md-2 mb-2">
            <div class="d-flex justify-content-center">
                <input
                action="action"
                onclick="window.history.go(-1); return false;"
                type="submit"
                value="Go Back"
                class="goBackBtn mx-0"
            />
            </div>
        </div>
    </div>

</div>

<%- include('../partials/mailsFooter')%>