<%- include('../partials/profilHeader')%>
<div class="container py-4">
    
    <form id="newMailReplyFrm" class="ui form" action="/users/<%= user._id%>/mails/<%=type%>/<%= mail._id%>/replies" method="post" enctype="multipart/form-data">
    
        <div class="field mx-4 mt-4">
            <label><span class="inputsTitles">Title</span>
              <input id="reTitle" type="text" name="title" value="RE: <%= mail.title%>" placeholder="Mail title" disabled >
            </label>
        </div>

        <!-- files Upload -->
        <div id="filesUploadContainer" class="mx-4">
            <div>
                <label id="uploadLable" for="upload">
                    <input type="file" class="fileInput" id="upload" name="files" multiple>
                    <span id="lableTextSpan">Upload Files</span>
                    <i class="fas fa-paperclip"></i>
                </label>
            </div>
            <div class="files">
                <ul class="files_ul"></ul>
            </div>
        </div>


        <div class="field my-1 d-none">
            <textarea id="mailText" name="text"></textarea>
        </div>
        <div class="mx-4">
            <label for="editorHugeContainer"><span class="inputsTitles">Text</span></label>
            <div id="editorHugeContainer" class="ce-example">
                <div class="ce-example__content _ce-example__content--small">
                    <div id="newMailEditorjs" class="editorjs"></div>
                </div>
            </div>
        </div>

        <div class="container my-4 p-3 py-5">
            <div class="row d-flex justify-content-center">
                <div class="column col-sm-8 text-center">
                    <span class="inputsTitles d-block my-1">Reply also visible to</span>
                    <div id="visibleToList" class="ui multiple selection dropdown mt-2 mb-1 d-block">
                        <%if(type == 'received'){%>
                            <input id="visibleToInput" name="visibleTo" type="hidden" value="<%= mail.sent_by._id%>">
                        <%}else{%>
                            <input id="visibleToInput" name="visibleTo" type="hidden" value="">
                        <%}%>
                        <i class="dropdown icon"></i>
                        <div class="default text">Visible To</div>
                        <div class="menu">
                            <%mail.receivers.forEach(function(receiver){%>
                                <div class="item" data-value="<%= receiver._id%>">
                                    <img class="ui avatar image" src="<%= receiver.imageUrl%>">
                                    <span class="bitraf"><%= receiver.username%></span>
                                </div>
                            <%});%>  
                        </div>
                    </div>
                    <div id="clearVisibleToBtn" class="ui button my-2">Clear Filters</div>
                </div>
            </div>
            <div id="receiversSelectionWarning" class="ui red message d-none text-center">
                <i class="fas fa-exclamation-triangle mr-2"></i>
                Cant send a mail without selecting the receivers
            </div>
        </div>
    </form>

    <div class="my-2">
        <button id="sendMailReplyBtn" class="standardBtnStyle">Send</button>
        <input
                action="action"
                onclick="window.history.go(-1); return false;"
                type="submit"
                value="Cancel"
                class="goBackBtn float-right py-3 px-5"
            />
    </div>
    
</div>
<%- include('../partials/mailsFooter')%>