<%- include('../partials/profilHeader')%>
    <div class="ui red two item menu" style="border-top: none; border-right: none; border-left: none;">
        <a class="active item" href="/users/<%= user._id%>/mails/received/<%= mail._id%>/content">
          <span class="sentReceivedSpan"><i class="fas fa-envelope-open-text"></i></span>
        </a>
        <a class="item" href="/users/<%= user._id%>/mails/received/<%= mail._id%>/replies">
          <span class="sentReceivedSpan"><i class="fas fa-reply-all"></i></span>
        </a>
    </div>
    <div class="container">
        <% if(mail.sending_type == 'CC'){%>
            <i class="far fa-closed-captioning float-right bitraf" style="font-size: 3em;"></i>
        <%}%>
    </div>
    <div class="container py-4">
            <div class="mb-4">
                <label for="mailTitle"><span class="inputsTitles">Title</span></label>
                <input id="mailTitle" type="text" placeholder="Mail title" class="inputStyleClone" value="<%= mail.title%>" disabled>
            </div>

            <div class="row mb-4">
                <div class="column col-md-6">
                    <label for="sentAtInput"><span class="inputsTitles">Received at</span></label>
                    <input id="sentAtInput" type="text" class="inputStyleClone" value="<%= mail.received_at%>" disabled>
                </div>
                <div class="column col-md-6">
                    <label for="sentByInput"><span class="inputsTitles">Sent by</span></label>
                    <div id="sentByInput" class="ui inline dropdown inputStyleClone">
                        <div class="text" style="width: 100%;">
                            <img class="ui avatar image" src="<%= mail.sent_by.imageUrl%>">
                            <span class="bitraf"><%= mail.sent_by.username%></span>
                        </div>
                    </div>
                </div>
            </div>


            
            <!-- mail files -->
            <%- include('./mailFiles')%>
        
            <!-- mail text -->
            <div class="field my-1 d-none">
                <textarea id="showMailText" name="text"><%= mail.text%></textarea>
            </div>
            <div>
                <label for="editorHugeContainer"><span class="inputsTitles">Text</span></label>
                <div id="editorHugeContainer" class="ce-example">
                    <div class="ce-example__content _ce-example__content--small">
                        <div id="showMailEditorjs" class="editorjs"></div>
                    </div>
                </div>
            </div>  
            <div class="mb-3 mt-5">
                <% if(mail.sending_type == 'send'){%>
                    <a id="reply" href="/users/<%= user._id%>/mails/received/<%= mail._id%>/replies/new" class="standardBtnStyle">Reply</a>
                <%}%>
                <input
                        action="action"
                        onclick="window.history.go(-1); return false;"
                        type="submit"
                        value="Go Back"
                        class="goBackBtn float-right py-3 px-5"
                    />
            </div>
        
    </div>
<%- include('../partials/mailsFooter')%>