<%- include('../partials/profilHeader')%>
    <div class="ui red two item menu" style="border-top: none; border-right: none; border-left: none;">
      <a id="receivedMailsBtn" class="active item" href="/users/<%= user._id%>/mails/received">
        <span class="sentReceivedSpan">Received Mails</span>
      </a>
      <a id="sentMailsBtn" class="item" href="/users/<%= user._id%>/mails/sent">
        <span class="sentReceivedSpan">Sent Mails</span>
      </a>
    </div>
    <input type="hidden" id="currentPage" value="receivedMailsPage">
    
    <!-- storage -->
    <input type="hidden" id="totalMailsSize" value="<%= user.usedReceivedMailsStorage%>">
    <input type="hidden" id="userStorage" value="<%= user.receivedMailsStorage%>">
    <div class="container">
      <label for="progress" class="bitraf" style="font-size: small;">storage: (<span id="storagePerLable"></span> %)</label>
      <span id="storageWarning" class="bitraf float-right d-none" style="font-size: small;">
        <i class="fas fa-exclamation-triangle"></i>
        please delete some mails
      </span>
      <div class="ui progress error" id="progress" >
        <div id="storageUsedBar" class="bar"></div>
      </div>
      <input id="storagePer" type="hidden">
    </div>


    <!-- some infos -->
    <p id="userId" style="color: rgb(0, 0, 0, 0); font-size: 0px; display: none;"><%= user._id%></p>
    <input type="text" id="mailsType" value="received" class="d-none">
    <!-- Mails list -->
    <textarea name="" id="itemsTextArea" cols="100" rows="10" class="d-none">
      <%= JSON.stringify(receivedMails)%>
    </textarea>
    <!-- search -->
    <div id="search" class="ui search text-center mt-3">
      <div class="ui icon input form-group form-inline">
        <input id="searchTextbox" class="prompt" type="text" placeholder="Search received mail...">
        <i class="search icon"></i>
      </div>
    </div>
    <!-- results -->
    <textarea id="resultTextArea" cols="100" rows="10" class="nohighlight m-0 p-0 d-none"></textarea>
    <div class="form-group d-none">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="sortCheckbox" checked="checked">Sort
        </label>
        <span id="helpBlock" class="help-block">Whether to sort the result list, by score.</span>
      </div>
    </div>
    <div class="form-group form-inline d-none">
        <label for="thresholdRange">Threshold</label>
        <input type="number" id="thresholdRange" min="0" step="0.1" max="1" value="0.6">
        <span id="helpBlock" class="help-block">At what point does the match algorithm give up. A threshold of <code>0.0</code> requires a perfect match (of both letters and location), a threshold of <code>1.0</code> would match anything.</span>
    </div>



    <div id="receivedMailsContainer">
      <div id="mailsList" class="container scrollDiv p-4">
        <%receivedMails.forEach(function(receivedMail){%>
          <div onclick='location.href="/users/<%= user._id%>/mails/received/<%= receivedMail._id%>/content"' class="hoverableDiv row d-flex py-2 px-5 m-2">
            <div class="column col-5 d-flex align-items-center px-0">
              <span class="bitraf mr-2" style="font-size: 1.5em;">
                <%if(receivedMail.read == false){%>
                  <i class="fas fa-envelope"></i>
                <%}else{%>
                  <i class="fas fa-envelope-open"></i>
                <%}%>
              </span>
              <span class="bitraf pt-0 ml-2" style="font-size: 1.2em; line-height: 5px;">
                <span class="bitraf pt-0 mb-4">
                Title :
                <%if(receivedMail.title == ''){%>
                  None
                <%}else{%>
                  <%= receivedMail.title%>
                <%}%>
                <%if(receivedMail.sending_type == 'CC'){%>
                  <i class="far fa-closed-captioning"></i>
                <%}%>
              </span>
            </div>
            <div class="column col-7 px-0">
              <div class="float-right d-flex justify-content-between text-align-center">
                <form action="/users/<%= user._id%>/mails/received/<%= receivedMail._id%>?_method=DELETE" method="POST">
                  <input type="hidden" name="mailSize" value="<%=receivedMail.size%>">
                  <button  class="contactsIcons" data-inverted="" data-tooltip="Delete" data-position="top center"><i class="fas fa-trash-alt"></i></button>
                </form>
              </div>
              <div class="fromAndAt float-right">
                <span>At : <span class="bitraf"><%= receivedMail.received_at%></span></span>
              </div>
              <div class="fromAndAt float-right"> 
                <div class="d-flex">
                  <div class="mr-1">From :</div> 
                  <div>
                    <img class="ui avatar image" src="<%= receivedMail.senderImage%>">
                    <span class="bitraf"><%= receivedMail.sent_by%></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        <%});%>
      </div>

      <!--Search results-->
      <div id="mailSearchResults" class="container scrollDiv mt-4 p-4 d-none"></div>

    </div>
<%- include('../partials/mailsFooter')%>