<%- include('../partials/profilHeader')%>
    <div class="ui orange three item menu" style="border-top: none; border-right: none; border-left: none;">
        <a id="projectDetailLink" class="item" href="/users/<%= user._id%>/projects/received/<%= project._id%>/detail">
            <span class="sentReceivedSpan"><i class="fas fa-clipboard"></i></span>
        </a>
        <a id="projectDiscussionLink" class="active item" href="/users/<%= user._id%>/projects/received/<%= project._id%>/discussion">
            <span class="sentReceivedSpan"><i class="fas fa-comments"></i></span>
        </a>
        <a id="projectTreeLink" class="item" href="/users/<%= user._id%>/projects/received/<%= project._id%>/tree">
            <span class="sentReceivedSpan"><i class="fas fa-sitemap"></i></span>
        </a>
    </div>
    <input type="hidden" id="projectId" value="<%= project._id%>">
    <input type="hidden" id="currentPage" value="projectDiscussion">
    <div id="projectDiscussion" class="discussionContainer scrollDiv px-4">
        <% project.discussion.forEach(function(message){%>
            <% if(message.userId == user._id){%>
                <div class="row justify-content-end">
                    <div class="row messageContainer darker">
                        <div class="column col-11 pr-3">
                            <span class="bitraf" style="font-size: 1.4em; font-weight: 500;"><%= message.userName%></span>
                            <p><%= message.text%></p>
                            <span class="time-left"><%= message.created_at%></span>
                        </div>
                        <div class="column col-1 p-0">
                            <img src="<%= message.userImage%>" class="ui mini circular image m-0" alt="Avatar" style="width: 40px; height: 40px;">
                        </div>
                    </div>
                </div>
            <% }else{%>
                <div class="row">
                    <div class="row messageContainer">
                        <div class="column col-1 p-0">
                            <img src="<%= message.userImage%>" class="ui mini circular image m-0" alt="Avatar" style="width: 40px; height: 40px;">
                        </div>
                        <div class="column col-11 pl-3">
                            <span class="bitraf" style="font-size: 1.4em; font-weight: 500;"><%= message.userName%></span>
                            <p><%= message.text%></p>
                            <span class="time-right"><%= message.created_at%></span>
                        </div>
                        
                        
                    </div>
                </div>
            <% }%>
        <% });%>
        <!------------------------------------------------------------------>
        <!------------------------------------------------------------------>
    </div>
    <div id="newMessage" class="container px-5 pb-4">
        <label><span >New Message</span></label>
        <div class="mb-2">
            <textarea id="projectDiscussionMessageText" rows="3" name="text" style="width: 100%;"></textarea>
        </div>
        <button id="sendProjectDiscussionMessageBtn" class="ui negative basic button float-right">Send</button>
    </div>
    
    
<%- include('../partials/projectsFooter')%>