<%- include('../partials/profilHeader')%>
<div class="ui red two item menu" style="border-top: none; border-right: none; border-left: none;">
    <a class="item" href="/users/<%= user._id%>/mails/received/<%= mailId%>/content">
      <span class="sentReceivedSpan"><i class="fas fa-envelope-open-text"></i></span>
    </a>
    <a class="active item" href="/users/<%= user._id%>/mails/received/<%= mailId%>/replies">
      <span class="sentReceivedSpan"><i class="fas fa-reply-all"></i></span>
    </a>
</div>

<input type="hidden" id="currentPage" value="repliesPage">

<div id="receivedMailRepliesContainer">
    <div id="repliesList" class="container scrollDiv mt-4 p-4">
      <%var i = 0;%>
      <%replies.forEach(function(reply){%>
        <%if(reply.senderId == user.id){%>
            <div onclick='location.href="/users/<%= user._id%>/mails/sent/<%= reply._id%>/content"' class="hoverableDiv row d-flex justify-content-between py-2 px-5 m-2">
              <div>
                <span class="bitraf mr-2" style="font-size: 1.3em;">
                  <i class="fas fa-paper-plane"></i>
                </span>
                <span class="bitraf" style="font-size: 1.2em;">
                  Title :
                  <%if(reply.title == ''){%>
                    None
                  <%}else{%>
                    <%= reply.title%>
                  <%}%>
                </span>
              </div>
              
              <div class="d-flex justify-content-between text-align-center">
                <div id="sendingHistory<%=i%>" class="sendingHistory ui top right pointing dropdown link item">
                  <span id="sendingHistoryHeader<%=i%>" class="sendingHistoryHeader">
                    <i class="fas fa-history"></i> Sending History
                  </span>
                  <i class="dropdown icon"></i>
                  <div id="sendingHistoryMenu<%=i%>" class="sendingHistoryMenu menu">
                    <% reply.sending_history.forEach(function(elt){%>
                        <div class="item">
                              <%if(elt.sending_type == 'send'){%>
                                <span style="white-space:pre;">sent to    : </span>
                              <%}else if(elt.sending_type == 'visible'){%>
                                <span style="white-space:pre;">visible to : </span>
                              <%}else{%>
                                <span style="white-space:pre;">  CC       : </span>
                              <%}%>
                              <img class="ui avatar image mr-0 pr-0" src="<%= elt.sent_to.imageUrl%>">
                              <span class="bitraf ml-0 pl-0 mr-5"><%= elt.sent_to.username%></span>
                              <span sentToRead="<%= elt.sent_to._id%>">
                                <% if(elt.read == false){%>
                                  <span class="float-right bitraf">not yet</span>
                                <%}else{%>
                                  <span class="float-right" style="color: #09ed1c; white-space:pre;">done   </span>
                                <%}%>
                              </span>
                              
                              <span class="float-right">read :</span>
                              <span class="bitraf float-right mr-5"> <%= elt.sent_at%></span>
                              <span class="float-right">at :</span>
                        </div>
                    <%});%>
                  </div>
                </div>
                
                <div class="float-right d-flex justify-content-between text-align-center ml-4">
                  <form action="/users/<%= user._id%>/mails/received/<%= mailId%>/replies/<%= reply._id%>?_method=DELETE" method="POST">
                    <input type="hidden" name="mailSize" value="<%=reply.size%>">
                    <input type="hidden" name="replyType" value="sentReply">
                    <button  class="contactsIcons" data-inverted="" data-tooltip="Delete" data-position="top center"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </div>
              </div>
              
            </div>
            <% i++%>
        <%}else{%>
          <div onclick='location.href="/users/<%= user._id%>/mails/received/<%= reply._id%>/content"' class="hoverableDiv row d-flex py-2 px-5 m-2">
            <div class="column col-5 d-flex align-items-center px-0">
              <span class="bitraf mr-2" style="font-size: 1.5em;">
                <%if(reply.read == false){%>
                  <i class="fas fa-envelope"></i>
                <%}else{%>
                  <i class="fas fa-envelope-open"></i>
                <%}%>
              </span>
              <span class="bitraf pt-0 ml-2" style="font-size: 1.2em; line-height: 5px;">
                <span class="bitraf pt-0 mb-4">
                Title :
                <%if(reply.title == ''){%>
                  None
                <%}else{%>
                  <%= reply.title%>
                <%}%>
              </span>
            </div>
            <div class="column col-7 px-0">
              <div class="float-right d-flex justify-content-between text-align-center ml-1">
                <form action="/users/<%= user._id%>/mails/received/<%= mailId%>/replies/<%= reply._id%>?_method=DELETE" method="POST">
                  <input type="hidden" name="mailSize" value="<%=reply.size%>">
                  <input type="hidden" name="replyType" value="visibleReply">
                  <button  class="contactsIcons" data-inverted="" data-tooltip="Delete" data-position="top center"><i class="fas fa-trash-alt"></i></button>
                </form>
              </div>

              <div class="fromAndAt float-right">
                <span>At : <span class="bitraf"><%= reply.received_at%></span></span>
              </div>
              
              <div class="fromAndAt float-right"> 
                <div class="d-flex">
                  <div class="mr-1">From :</div> 
                  <div>
                    <img class="ui avatar image" src="<%= reply.senderImage%>">
                    <span class="bitraf"><%= reply.sent_by%></span>
                  </div>
                </div>
                  
              </div>
            </div>
          </div>
        <%}%>
      <%});%>
      <input type="hidden" name="" id="mailsLength" value="<%= i%>">
    </div>

    <div class="d-flex justify-content-center mt-3 mb-4">
      <a href="/users/<%= user._id%>/mails/received/<%= mailId%>/replies/new" class="standardBtnStyle p-2" style="width: 30%;">Add reply</a>
    </div>
  </div>


<%- include('../partials/mailsFooter')%>