<%- include('../partials/profilHeader')%>
    <div class="ui orange three item menu" style="border-top: none; border-right: none; border-left: none;">
        <a id="projectDetailLink" class="active item" href="/users/<%= user._id%>/projects/received/<%= project._id%>/detail">
            <span class="sentReceivedSpan"><i class="fas fa-clipboard"></i></span>
        </a>
        <a id="projectDiscussionLink" class="item" href="/users/<%= user._id%>/projects/received/<%= project._id%>/discussion">
            <span class="sentReceivedSpan"><i class="fas fa-comments"></i></span>
        </a>
        <a id="projectTreeLink" class="item" href="/users/<%= user._id%>/projects/received/<%= project._id%>/tree">
            <span class="sentReceivedSpan"><i class="fas fa-sitemap"></i></span>
        </a>
    </div>
    <div class="container py-4">

        <!-- project history  -->
        <%- include('./projectHistory')%>

        <!-- project details -->
        <%- include('./projectDetails')%>

        <!-- project progress -->
        <%- include('./projectProgress')%>
            
        <!-- project files -->
        <%- include('./projectFiles')%>

        <!-- project text -->
        <%- include('./projectText')%>

        <!-- project sending & assigning -->
        <%- include('./projectSending&Assigning')%>

        <!-- warning message -->
        <div id="receiversSelectionWarning" class="ui red message text-center d-none">
            <i class="fas fa-exclamation-triangle mr-2"></i>
            Cant send a project without selecting the receivers
        </div>

        <div class="my-2 d-flex justify-content-between">
            <%if(children.length > 0){%>
                <button id="sendProjectBtn" class="standardBtnStyle">Send Project</button>
            <%}%>
            <a href="/users/<%= user._id%>/projects/received" class="goBackBtn float-right py-3 px-5">Go Back</a>
        </div>

    </div>
<%- include('../partials/projectsFooter')%>