<%- include('../partials/profilHeader')%>
<div class="ui red two item menu" style="border-top: none; border-right: none; border-left: none;">
    <a class="active item" href="/users/<%= user._id%>/mails/sent/<%= mail._id%>/content">
      <span class="sentReceivedSpan"><i class="fas fa-envelope-open-text"></i></span>
    </a>
    <a class="item" href="/users/<%= user._id%>/mails/sent/<%= mail._id%>/replies">
      <span class="sentReceivedSpan"><i class="fas fa-reply-all"></i></span>
    </a>
</div>
<div class="container py-4">
        <div class="my-4">
            <label for="mailTitle"><span class="inputsTitles">Title</span></label>
            <input id="mailTitle" type="text" name="title" class="inputStyleClone" value="<%= mail.title%>" disabled>
        </div>
       
        <div class="row mb-4">
            <div class="column col-sm-6">
                <label for="createdAt"><span class="inputsTitles">Created at</span></label>
                <input id="createdAt" type="text" class="inputStyleClone" value="<%= mail.created_at%>" disabled>
            </div>
            <div class="column col-sm-6">
                <label for="typeSelector"><span class="inputsTitles">Sent to</span></label>
                <div class="ui simple top right pointing dropdown item inputStyleClone">
                    <%if(mail.sending_history.length == 1){%>
                        <div class="text" style="width: 100%;">
                            <img class="ui avatar image" src="<%= mail.sending_history[0].sent_to.imageUrl%>">
                            <span class="bitraf"><%= mail.sending_history[0].sent_to.username%></span>
                            <p class="float-right">
                                read:
                                <%if(mail.sending_history[0].read == true){%>
                                    <span style="color: #09ed1c;">done</span>
                                <%}else{%>
                                    <span style="color: #ff6363;">not yet</span>
                                <%}%>
                            </p>
                        </div>
                    <%}else{%>
                        <div class="text" style="width: 100%;">
                            <img class="ui avatar image" src="<%= mail.sending_history[0].sent_to.imageUrl%>">
                            <span class="bitraf"><%= mail.sending_history[0].sent_to.username%></span>
                            <span class="float-right">
                                and <%= mail.sending_history.length-1%> others <i class="dropdown icon"></i>
                            </span>
                        </div>
                        <div class="menu" style="width: 100%;">
                            <% mail.sending_history.forEach(function(elt){%>
                                <div class="item">
                                      <%if(elt.sending_type == 'send'){%>
                                        <span style="white-space:pre;">sent to :  </span>
                                      <%}else if(elt.sending_type == 'visible'){%>
                                        <span style="white-space:pre;">visible to :  </span>
                                      <%}else{%>
                                        <span style="white-space:pre;">  CC       :  </span>
                                      <%}%>
                                      <img class="ui avatar image mr-0 pr-0" src="<%= elt.sent_to.imageUrl%>">
                                      <span class="bitraf ml-0 pl-0 mr-5"><%= elt.sent_to.username%></span>
                                      <% if(elt.read == false){%>
                                        <!-- <span class="bitraf">not yet</span> -->
                                        <span class="float-right bitraf">not yet</span>
                                      <%}else{%>
                                        <!-- <span class="bitraf">done</span> -->
                                        <span class="float-right" style="color: #09ed1c; white-space:pre;">done   </span>
                                      <%}%>
                                      <span class="float-right">read :</span>
                                      <span class="bitraf float-right mr-5"> <%= elt.sent_at%></span>
                                      <span class="float-right">at :</span>
                                </div>
                            <%});%>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>

        
        <!-- mail files -->
        <%if(files.length > 0){%>
            <div class="mb-4">
                <label for="filesContainer"><span class="inputsTitles">Files</span></label>
                <div id="filesContainer">
                    <%files.forEach(function(file){%>
                        <div class="row">
                            <div class="column col-10">
                                <%if(file.fileType == 'pdf'){%>
                                    <i class="far fa-file-pdf  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src=""> -->
                                <%}else if(file.fileType == 'text'){%>
                                    <i class="far fa-file-alt  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src="/public/icons/text.PNG"> -->
                                <%}else if(file.fileType == 'image'){%>
                                    <!-- <i class="far fa-file-image  fileIcone"></i> -->
                                    <img class="ui mini right spaced image" src="/mails/<%=mail._id%>/files/<%=file._id%>">
                                <%}else if(file.fileType == 'video'){%>
                                    <i class="far fa-file-video  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src="/public/icons/video.PNG"> -->
                                <%}else if(file.fileType == 'audio'){%>
                                    <i class="far fa-file-audio  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src="/public/icons/audio.PNG"> -->
                                <%}else if(file.fileType == 'word'){%>
                                    <i class="far fa-file-word  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src="/public/icons/word.PNG"> -->
                                <%}else if(file.fileType == 'excel'){%>
                                    <i class="far fa-file-excel  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src="/public/icons/excel.PNG"> -->
                                <%}else if(file.fileType == 'powerPoint'){%>
                                    <i class="far fa-file-pdf  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src="/public/icons/powerPoint.PNG"> -->
                                <%}else if(file.fileType == 'visio'){%>
                                    <i class="far fa-file  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src="/public/icons/visio.PNG"> -->
                                <%}else if(file.fileType == 'publisher'){%>
                                    <i class="far fa-file  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src="/public/icons/publisher.PNG"> -->
                                <%}else if(file.fileType == 'other'){%>
                                    <i class="far fa-file  fileIcone"></i>
                                    <!-- <img class="ui mini right spaced image" src="/public/icons/other.PNG"> -->
                                <%}%>
                                <span><%= file.filename%></span>
                            </div>
                            <div class="column col-1 d-flex align-items-center justify-content-end p-0">
                                <%if(file.fileType == 'pdf' || file.fileType == 'text' || file.fileType == 'image'){%>
                                    <a class="filesOptionsIcons" href="/mails/<%=mail._id%>/files/<%=file._id%>" data-inverted="" data-tooltip="Preview" data-position="top center" class="float-right">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                <%}else if(file.fileType == 'video'){%>
                                    <form action="/mails/<%= mail._id%>/files/videos/<%=file._id%>/play" method="GET" class="float-right">
                                        <input type="hidden" name="videoName" value="<%file.filename%>">
                                        <button class="filesOptionsIcons" data-inverted="" data-tooltip="play" data-position="top center">
                                            <i class="fas fa-play"></i>
                                        </button>
                                    </form>
                                <%}else if(file.fileType == 'audio'){%>
                                    <form action="/mails/<%= mail._id%>/files/audios/<%=file._id%>/play" method="GET" class="float-right">
                                        <input type="hidden" name="audioName" value="<%file.filename%>">
                                        <button class="filesOptionsIcons" data-inverted="" data-tooltip="play" data-position="top center">
                                            <i class="fas fa-play"></i>
                                        </button>
                                    </form>
                                <%}%>  
                            </div>
                            <div class="column col-1 d-flex align-items-center justify-content-center pr-0">
                                <a class="filesOptionsIcons" href="/mails/<%=mail._id%>/files/<%=file._id%>" data-inverted="" data-tooltip="Download" data-position="top center" download>
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                        </div>
                    <%});%>
                </div>
            </div>
        <%}%>
        
        <!-- mail text -->
        <div class="field my-1 d-none">
            <textarea id="showMailText" name="text"><%= mail.text%></textarea>
        </div>
        <div>
            <label for="editorHugeContainer"><span class="inputsTitles">Text</span></label>
            <div id="editorHugeContainer" class="ce-example">
                <div class="ce-example__content _ce-example__content--small">
                    <div id="showMailEditorjs" class="editorjs"></div>
                </div>
            </div>
        </div>

    <form id="reSentMailFrm" class="ui form text-center" action="/users/<%= user._id%>/mails/sent/<%= mail._id%>/reSent" method="post">
        <div class="mx-4 my-2 py-3">
            <div class="row">
                <div class="column col-12 col-md-6 text-center my-2">
                    <div class="text-center mb-1">
                        <span class="inputsTitles pb-0 d-inline">Sent to</span>
                    </div>
                    <!-- sent to multiselect -->
                    <div id="sendToList" class="ui fluid multiple search selection dropdown" style="width: 100%;">
                        <input id="sentTo" name="sentTo" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Users</div>
                        <div class="menu">
                            <%usersList.forEach(function(st){%>
                                <%if(st._id !== user._id){%>
                                    <div class="item" data-value="<%= st._id%>">
                                        <img class="ui avatar image" src="<%= st.imageUrl%>">
                                        <span class="bitraf mt-2"><%= st.username%></span>
                                    </div>
                                <%}%>
                            <%});%>
                        </div>
                    </div>
                    <div id="clearSendToBtn" class=" ui button mt-2">Clear</div>
                </div>
                

                <div class="column col-12 col-md-6 text-center my-2">
                    <div class="text-center mb-1">
                        <span class="inputsTitles pb-0 d-inline">CCs</span>
                    </div>
                    <!-- CC multiselect -->
                    <div id="ccList" class="ui fluid multiple search selection dropdown" style="width: 100%;">
                        <input id="CCs" name="CCs" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Users</div>
                        <div class="menu">
                            <%usersList.forEach(function(cc){%>
                                <%if(cc._id !== user._id){%>
                                    <div class="item" data-value="<%= cc._id%>">
                                        <img class="ui avatar image" src="<%= cc.imageUrl%>">
                                        <span class="bitraf mt-2"><%= cc.username%></span>
                                    </div>
                                <%}%>
                            <%});%>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <div id="clearCcBtn" class="ui button">Clear</div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row mt-4">
            <div class="column col-12 col-md-2 text-center mb-2">
                <button id="reSentMailBtn" class="standardBtnStyle">Send</button>
            </div>
            <div class="column col-0 col-md-8 mb-2">
                <div id="receiversSelectionWarning" class="ui red message d-none">
                    <i class="fas fa-exclamation-triangle mr-2"></i>
                    Cant send a mail without selecting the receivers
                </div>
            </div>
            <div class="column col-12 col-md-2 mb-2">
                <div class="d-flex justify-content-center">
                    <input
                    action="action"
                    onclick="window.history.go(-1); return false;"
                    type="submit"
                    value="Go Back"
                    class="goBackBtn mx-0"
                />
                </div>
            </div>
        </div>

</div>
<%- include('../partials/mailsFooter')%>

