<%- include('../partials/profilHeader')%>
    <div class="ui orange three item menu" style="border-top: none; border-right: none; border-left: none;">
        <a id="projectDetailLink" class="item" href="/users/<%= user._id%>/projects/sent/<%= project._id%>/detail">
            <span class="sentReceivedSpan"><i class="fas fa-clipboard"></i></span>
        </a>
        <a id="projectDiscussionLink" class="active item" href="/users/<%= user._id%>/projects/sent/<%= project._id%>/discussion">
            <span class="sentReceivedSpan"><i class="fas fa-comments"></i></span>
        </a>
        <a id="projectTreeLink" class="item" href="/users/<%= user._id%>/projects/sent/<%= project._id%>/tree">
            <span class="sentReceivedSpan"><i class="fas fa-tree"></i></span>
        </a>
    </div>
    <div id="projectDiscussion" class="scrollDiv px-4">
        <% project.discussion.forEach(function(message){%>
            <% if(message.userId == user._id){%>
                <div class="row justify-content-end">
                    <div class="row messageContainer darker">
                        <div class="column col-11 pr-3">
                            <span class="bitraf" style="font-size: 1.4em; font-weight: 500;"><%= message.userName%></span>
                            <p><%= message.text%></p>
                            <span class="time-left"><%= message.created_at%></span>
                        </div>
                        <div class="column col-1 p-0">
                            <img src="<%= message.userImage%>" class="m-0" alt="Avatar" style="width: 50px; height: 50px;">
                        </div>
                    </div>
                </div>
            <% }else{%>
                <div class="row">
                    <div class="row messageContainer">
                        <div class="column col-1 p-0">
                            <img src="<%= message.userImage%>" class="m-0" alt="Avatar" style="width: 50px; height: 50px;">
                        </div>
                        <div class="column col-11 pl-3">
                            <span class="bitraf" style="font-size: 1.4em; font-weight: 500;"><%= message.userName%></span>
                            <p><%= message.text%></p>
                            <span class="time-right"><%= message.created_at%></span>
                        </div>
                        
                        
                    </div>
                </div>
            <% }%>
        <% });%>
        <!------------------------------------------------------------------>
        <!------------------------------------------------------------------>
    </div>
    <div id="newMessage" class="container px-5 pb-4">
        <form class="ui form" action="/users/<%= user._id%>/projects/sent/<%= project._id%>/discussion" method="POST">
            <div class="field">
                <label>New Message</label>
                <textarea rows="2" name="text"></textarea>
            </div>
            <button class="ui negative basic button float-right">Send</button>
        </form>
    </div>
    
    
<%- include('../partials/projectsFooter')%>