<%- include('../partials/profilHeader')%>
            <% if(event.planner.username !== user.username){%>
                <div class="d-flex justify-content-end">
                    <span class="bitraf mr-2">planned to you by </span>
                    <div onclick='location.href="<%= event.planner.profileUrl%>"' class="hoverableDiv px-2">
                        <img class="ui avatar image" src="<%= event.planner.imageUrl%>">
                        <span class="bitraf mt-2"><%= event.planner.username%></span>
                    </div>
                </div>
            <%}%>
            <form class="ui form m-5" action="/users/<%= user._id%>/events/<%= event._id%>?_method=DELETE" method="post">
                <div class="two fields mb-3">
                    <div class="field mr-3">
                        <label for="title"><span class="inputsTitles">Title</span></label>
                        <input id="title" name="event[title]" placeholder="Title" value="<%= event.title%>" disabled>  
                    </div>
                    <div class="field ml-3">
                        <label>
                            <span class="inputsTitles">Type</span>
                            <input id="type" type="text" name="event[type]" placeholder="Type" value="<%= event.type%>" disabled>
                        </label>
                    </div>
                </div>
                <div class="two fields mb-3">
                    <div class="field mr-3">
                        <label>
                            <span class="inputsTitles">Start</span>
                            <input id="start" type="text" name="event[start]" placeholder="Start date" value="<%= event.start%>" disabled>
                        </label>
                    </div>
                    <div class="field ml-3">
                        <label>
                            <span class="inputsTitles">End</span>
                            <input id="end" type="text" name="event[end]" placeholder="End date" value="<%= event.end%>" disabled>
                        </label>
                    </div>
                </div>
                
                <div class="field my-1 d-none">
                    <textarea id="evtDesc" name="event[detail]" disabled> <%= event.detail%> </textarea>
                </div>

                <label for="editorHugeContainer"><span class="inputsTitles" id="editorLabel">Details</span></label>
                <div id="editorHugeContainer" class="ce-example">
                    <div class="ce-example__content _ce-example__content--small">
                      <div id="editorjs" class="editorjs"></div>
                    </div>
                </div>

                <div class="my-4">
                    <a href="/users/<%= user._id%>/events/<%= event._id%>/edit" id="saveBtn" class="standardBtnStyle">Update</a>
                    <button id="deleteEventBtn" class="standardBtnStyle">Delete</button>
                    <a id="goBackBtn" href="/users/<%= user._id%>/events" class="goBackBtn float-right py-3 px-5">Go Back</a>
                </div>
            </form>
<%- include('../partials/eventsFooter')%>
