<%- include('../partials/profilHeader')%>
            <form id="updateEventFrm" action="/users/<%= user._id%>/events/<%= event._id%>?_method=PUT" method="POST" class="ui form m-5">
                <div class="two fields mb-4">
                    <div class="field mr-3">
                        <label for="title"><span class="inputsTitles">Title</span></label>
                        <input id="title" type="text" name="title" placeholder="Title" value="<%= event.title%>">
                    </div>
                    <div class="field ml-3">
                        <label for="typeSelector"><span class="inputsTitles">Type</span></label>
                        <select id="typeSelector" class="ui dropdown" name="type" value="<%= event.type%>">
                            <option value="absence"><span id="absenceType">Absence</span></option>
                            <option value="other"><span id="otherType">Other</span></option>
                        </select>
                    </div>
                </div>
                <div class="field mb-4">
                    <label for=""><span class="inputsTitles">Start and End</span>
                        <%var eventDateTime = event.start.replace(/\//g, "-") +'-'+ event.end.replace(/\//g, "-")%>
                      <input id="dateTimePicker" type="text" name="dateTime" value="<%= eventDateTime%>"/>
                    </label>
                </div>
        
                <div class="field my-1 d-none">
                    <textarea id="evtDesc" name="detail"> <%= event.detail%> </textarea>
                </div>

                <label for="editorHugeContainer"><span class="inputsTitles" id="editorLabel">Details</span></label>
                <div id="editorHugeContainer" class="ce-example">
                    <div class="ce-example__content _ce-example__content--small">
                      <div id="editorjs" class="editorjs"></div>
                    </div>
                </div>

                <div class="my-4">
                    <button class="standardBtnStyle">Apply update</button>
                    <a id="goBackBtn" href="/users/<%= user._id%>/events/<%= event._id%>" class="goBackBtn float-right py-3 px-5">Cancel</a>
                </div>
            </form>
    
<%- include('../partials/eventsFooter')%>
