<%- include('../partials/profilHeader')%>
    <div class="container py-4">
        <form id="updateSentProjectFrm" class="ui form" action="/users/<%= user.id%>/projects/sent/<%= project._id%>?_method=PUT" method="post" enctype="multipart/form-data">
            
            <div class="row">
                <div class="column col-12 col-sm-6 mb-3">
                    <label><span class="inputsTitles">Title</span></label>
                    <input id="projectTitle" type="text" class="inputStyleClone" name="project[title]" placeholder="Title" value="<%= project.title%>">
                </div>
                <div class="column col-12 col-sm-6 mb-3">
                    <label><span class="inputsTitles">Type</span></label>
                    <input id="projectType" type="text" class="inputStyleClone" name="project[type]" value="project" disabled>
                </div>
            </div>

            <div class="row">
                <div class="column col-12 col-sm-6 mb-3">
                    <label><span id="start" class="inputsTitles">Start</span></label>
                    <input id="startDate" type="text" class="inputStyleClone" name="project[start]" placeholder="Start date" value="<%= project.start%>"/>
                </div>
                <div class="column col-12 col-sm-6 mb-3">
                    <label><span class="inputsTitles">End</span></label>
                    <input id="endDate" type="text" class="inputStyleClone" name="project[end]" placeholder="End date" value="<%= project.end%>"/>
                </div>
            </div>

            <div id="progressContainer" class="my-5">
                <label for="progress">
                    <span class="inputsTitles">Progress</span>
                    <%if(project.lastUpdateBy !== undefined){%>
                        <span id="progressUpdateInfo">
                            <i id="progressUpdateInfoIcon" class="fas fa-exclamation"></i>
                        </span>
                        <div id="progressUpdateInfoPopup" class="ui popup">
                            <span>last update by : </span><span class=" bitraf"><%= project.lastUpdateBy.username%></span>
                            <span class="ml-3">at : </span><span class="bitraf"><%= project.lastUpdateAt%></span>
                        </div>
                    <%}%>
                </label>
                <div class="ui indicating progress" id="progress" >
                    <div class="bar"></div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="ui input d-none">
                        <input  id="projectProgress" type="text" name="project[progress]"  value="<%= project.progress%>">
                    </div>  
                </div>
            </div>

            <!-- files to delete -->
            <%if(files.length > 0){%>
                <div class="mb-4">
                    <label><span class="inputsTitles">Files to delete</span></label>
                    <div id="filesContailner">
                        <% var i = 0; %>
                        <%files.forEach(function(file){%>
                            <div class="row">
                                <div class="column col-11">
                                    <%if(file.fileType == 'pdf'){%>
                                        <i class="far fa-file-pdf  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src=""> -->
                                    <%}else if(file.fileType == 'text'){%>
                                        <i class="far fa-file-alt  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src="/public/icons/text.PNG"> -->
                                    <%}else if(file.fileType == 'image'){%>
                                        <!-- <i class="far fa-file-image  fileIcone"></i> -->
                                        <img class="ui mini right spaced image" src="/projects/<%=project._id%>/files/<%=file._id%>">
                                    <%}else if(file.fileType == 'video'){%>
                                        <i class="far fa-file-video  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src="/public/icons/video.PNG"> -->
                                    <%}else if(file.fileType == 'audio'){%>
                                        <i class="far fa-file-audio  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src="/public/icons/audio.PNG"> -->
                                    <%}else if(file.fileType == 'word'){%>
                                        <i class="far fa-file-word  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src="/public/icons/word.PNG"> -->
                                    <%}else if(file.fileType == 'excel'){%>
                                        <i class="far fa-file-excel  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src="/public/icons/excel.PNG"> -->
                                    <%}else if(file.fileType == 'powerPoint'){%>
                                        <i class="far fa-file-pdf  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src="/public/icons/powerPoint.PNG"> -->
                                    <%}else if(file.fileType == 'visio'){%>
                                        <i class="far fa-file  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src="/public/icons/visio.PNG"> -->
                                    <%}else if(file.fileType == 'publisher'){%>
                                        <i class="far fa-file  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src="/public/icons/publisher.PNG"> -->
                                    <%}else if(file.fileType == 'other'){%>
                                        <i class="far fa-file  fileIcone"></i>
                                        <!-- <img class="ui mini right spaced image" src="/public/icons/other.PNG"> -->
                                    <%}%>
                                    <span><%= file.filename%></span>
                                </div>
                                <div class="column col-1 d-flex align-items-center justify-content-center pr-0">
                                    <button type="button" id="deleteFile<%=i%>" class="filesOptionsIcons" data-inverted="" data-tooltip="Delete" data-position="top center">
                                        <i class="fas fa-trash-alt"></i>
                                    </button type="button">
                                    <button type="button" id="addFile<%=i%>" class="filesOptionsIcons d-none" data-inverted="" data-tooltip="Cancel delete" data-position="top center">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                
                                <input type="hidden" id="fileToDelete<%=i%>" name="" value="<%=file._id%>">
                            </div>
                            <% i++; %>
                        <%});%>
                    </div>
                </div>
            <%}%>
            <input type="hidden" id="filesArrayLength" value="<%= files.length%>">
            
            <!-- files to add -->
            <div id="filesUploadContainer">
                <div>
                    <label id="uploadLable" for="upload">
                        <input type="file" class="fileInput" id="upload" name="files" multiple>
                        <span id="lableTextSpan">Add Files</span>
                        <i class="fas fa-paperclip"></i>
                    </label>
                </div>
                <div class="files">
                    <ul class="files_ul"></ul>
                </div>
            </div>
            
            
            <div class="field my-1 d-none">
                <textarea id="projectDoc" name="project[detail]"> <%= project.detail%> </textarea>
            </div>

            <label for="editorHugeContainer"><span class="inputsTitles">Documentation</span></label>
            <div id="editorHugeContainer" class="ce-example">
                <div class="ce-example__content _ce-example__content--small">
                    <div id="showProjectEditorjs" class="editorjs"></div>
                </div>
            </div>

            <div class="my-4">
                <button class="standardBtnStyle">Apply update</button>
                <a id="goBackBtn" href="/users/<%= user._id%>/projects/sent/<%= project._id%>" class="goBackBtn float-right py-3 px-5">Cancel</a>
            </div>
    </div>
<%- include('../partials/projectsFooter')%>